<!This is a page for registration should include the following data
name, sponsor, country, controller type (gamecube, pro controller, joycon, etc), main character, secondary character, and tertiary character>

<!DOCTYPE html>
<html>
<head>
    <title>Super Smash Brothers Tournament</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css"> -->
    <h1 style="text-align: center; font-size: 50px; justify-content: center;">Super Smash Brothers Tournament</h1>
    
    <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="{{ url_for('character_page') }}">Character</a></li>
        <li><a href="{{ url_for('register_page') }}">Register</a></li>
        <li><a href="{{ url_for('roster_page') }}">Roster</a> </li>
        <li><a href="{{ url_for('tournament_page') }}">Placements</a></li>
        <li><a href="/match">Matches</a></li>
    </ul>
    <h1>Register</h1>
    <form action="{{ url_for('register_page') }}" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <label for="sponsor">Sponsor</label>
        <input type="text" name="sponsor" id="sponsor" required>
        
        <label for="country">Country</label>
        <input type="text" name="country" id="country" required>
        <label for="controller">Controller</label>
        <input type="text" name="controller" id="controller" required>
        
        <!-- Use a text input for the main character -->
        <label for="main">Main Character</label>
        <select name="main" id="main" required>
            {% for character in characters %}
            <option value="{{ character[0] }}">{{ character[0] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit">
    </form>
</head>
</html>
