<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roster Search</title>
    <!-- Add any additional styling or scripts here -->
</head>
<body>
    
    <h1>Roster Search</h1>
    <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="{{ url_for('character_page') }}">Character</a></li>
        <li><a href="{{ url_for('register_page') }}">Register</a></li>
        <li><a href="{{ url_for('tournament_page') }}">Tournament</a></li>
        <li><a href="/match">Match</a></li>
    </ul>
    <form method="get" action="{{ url_for('roster_search') }}">
        <label for="search">Search by Name:</label>
        <input type="text" name="search" id="search" value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    
<table>
    <tr style="text-align: center; font-size: 20px" >
        <th>Name</th>
        <th>Sponsor</th>
        <th>Country</th>
        <th>Controller</th>
        <th>Rank</th>
        <th>Main</th>

    </tr>
    {% if players %}
        {% for player in players %}
            <tr style="text-align: center; font-size: 18px">
                <td>{{ player[0] }}</td>
                <td>{{ player[1] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[2] }}</td>
                <td>{{ player[4] }}</td>
                <td>{{ player[5] }}</td>
                <!-- Add other fields as needed -->
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No matching players found.</td>
        </tr>
    {% endif %}
</table>

</body>
</html>
